{% extends 'main.html' %}

{% block content %}
    <h1>{{ room.name }}</h1>
    <div>{{ room.description }}</div>
    <div class="box room__message">
        <form action="" method="POST">
            {% csrf_token %}
            <input name="body" placeholder="Write your message here..."/>
        </form>
    </div>
    {% for message in messages %}
        <div class="box">
            <div><b>{{ message.user }}</b> <i>{{ message.created }}</i></div>
            <div class="message">{{ message.body }}</div>
        </div>
    {% endfor %}
{% endblock %}
